.examples_row{
    margin: 25px 0px;

    justify-content: center;
}

.example{
    padding: 0px;

    margin: 15px 15px;

    box-shadow: 0px 0px 5px rgb(0, 0, 0);

    border-radius: 10px;

    height: 200px;
    width: 200px;
}

.pic{
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

.token_input_row{
    text-align: center;
}


#token_input{
    border: none;
    border-bottom: 1px solid #ffffff;
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      background-color: #f5f5f500;
    padding-left: 15px;
    margin-top: 25px;
    color: white;
    width: 75%;
}

@media (max-width:991px){
    .token_image_holder{
        width: 256px;
        height: 256px;

        margin: 10px 0px;
    }

    .token_traits_holder{
        margin: 10px 0px;
    }
}

#search_btn{
    height: 0;

    margin-top: 25px;
    min-height: 50px;
}

#token_info{
    margin-top: 50px;
    color: white;

    display: none;
}


.trait_item{
    margin: 5px 0px;
}

.token_image_holder{
    width: 256px;
    height: 256px;
}

#token_image{
    width: inherit;
    height: inherit;

    box-shadow: 0px 0px 5px rgb(0, 0, 0);

    border-radius: 10px;
}

.bet_btn{
    background-color: rgba(0, 13, 199, 0.329);

    min-height: 50px;
}

.bets_more{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.bets_about_modal{
    padding: 15px;
    background-color: rgba(1, 0, 53, 0.829);
    color: white;
    font-weight: bold;
}
