.mint_window{
    /* margin: 0 auto; */

    background: rgb(3, 0, 27);
    border-radius: 60px;

    border: 5px solid rgb(230, 216, 216);

    color: rgb(230, 216, 216);

    text-align: center;

    min-height: 350px;
}

.minter_item{
    margin: 20px 0px;

}

#amount_chooser{
    justify-content: center;
}

#link_to_examples{
    text-decoration: none;

    font-family: cursive;
}
