.mint_window{
    /* margin: 0 auto; */

    background: #262626;
    border-radius: 60px;

    color: rgb(255, 255, 255);

    text-align: center;

    min-height: 350px;
}

.minter_item{
    margin: 20px 0px;

}

#amount_chooser{
    justify-content: center;
}
