.rebus_header{
    text-align: center;
}

.rebus_content{
    background-color: black;

    border: 1px solid white;
    border-radius: 15px;
    color: white;   
}

.rebus_main_content{
    height: 250px;

    background-color: rgb(109, 0, 73);
}

.exmpl{
    height: 20px;
    width: 20px;
    background-color: tan;
}