.amount_btn:hover{
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 3px white, .01px .01px 5px inset rgba(255, 255, 255, 0.801);

}

.mint_btn{
    // border-radius: 25px;
}

.order_btn{
    // border-radius: 25px;

    padding: 25px;

    font-size: 20px;

    padding: 5px 45px 5px 45px;
}

.site_btn{
    border-radius: 10px;
    border: none;

    background-color: rgba(0, 0, 0, 0.09);

    box-shadow: 0px 0px 3px white;

    color: white;

    font-weight: bold;

    height: 40px;
}

.site_btn:hover{
    box-shadow: 0px 0px 3px white, .1px .1px 5px inset rgba(255, 255, 255, 0.801);
}

.site_btn:disabled{
    background-color: gray;
}

.site_btn:disabled .btn_text{
    color: rgb(182, 182, 182);
}

.amount_btn{
    border-radius: 50%;

    width: 45px;
    height: 45px;
}


// .fillable{
//     position: relative;
// }

// .fillable::after{
//     content:'';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 0;
// 	height: 100%;
// 	background: rgb(0, 0, 0);
// 	border-radius: 10px;
// 	transition: all .3s ease-in-out;
// }

// .fillable:hover::after{
//     width: 100%;
//     border: .5px solid white;

//     z-index: 1;
// }

.site_btn:hover .btn_text_fill{
    color: white;
}


.btn_text{
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);

    margin: 0px 10px;
}

.btn_text_amount{
    margin: 0px;
}