.amount_btn{
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin: 0 15px;
}

.mint_btn{
    border-radius: 25px;
}

.order_btn{
    border-radius: 15px;

    padding: 25px;

    font-size: 20px;

    padding: 5px 45px 5px 45px;
}

.site_btn{
    background-color: rgb(230, 216, 216);

    color: black;

    font-weight: bold;

    border: black;
}

.site_btn:hover{
    background-color: rgba(59, 59, 59, 0.137);

    color: white;

    border: 1px solid white;

    transform: scaleX(1.15) scaleY(1.15);
}
