@import './variables.scss';

body{
    color: $text_color;
    font-weight: 600;
}

.minter_area{
    margin-top: 80px;
}

.counter_item{
    margin: 0px 10px;
    font-size: 25px;
    font-weight: 500;
}

.site_btn{
    border: none;
    font-weight: 700;
    height: 40px;
}

.higher_area_item{
    margin: 0px 30px;
}

.price_enter{
    background: none;
    color: $text_color;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    text-align: center;
}

.price_enter::-webkit-inner-spin-button,
.price_enter::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.status_area{
    margin-top: 50px;
}

.link_scan{
    height: 32px;
    text-decoration: none;
    color: $text_color;
}

.link_scan_holder{
    font-size: 20px;

    font-weight: 500;
}