$text_color: rgba(255, 255, 255, 0.87);

// pandumbs

$p_back_color: #0B0B0C;
$p_acent_color: #FFD700;

// uebisha

$u_back_color: #392570;
$u_acent_color: #9887EF;

// geese

$g_back_color: #2f0c0f;
$g_acent_color: #9c0000;