#form_holder{
    background-color: rgb(0, 0, 0);

    border: 3px solid white;
    border-radius: 15px;

    color: bisque;

    margin-top: 100px;

    min-height: 250px;
}

#image_prev{
    height: 150px;
    width: 100%;
}

#line{
    margin-top: 40px;

    height: 2px;

    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.holder{
    min-height: 150px;
    color: white;
    font-weight: bold;

    text-align: center;
}


@media (min-width: 768px) {
    .btns_holder{
        text-align: right;
     }
}


#description_area{
    width: 100%;
    height: 85px;

    font-size: 13px;

    resize: none;

    border-radius: 5px;
}

.amount_btns{
    justify-content: center;
    margin-top: 15px;
}

.dur_btn{
    height: 35px;
    width: 35px;
}

.form_btn{
    margin: 15px 5px;
    max-width: 150px;

    height: 50px;

    background-color: black;

    border: 2px solid white;
}


.form_btn_text{
    color: white;
}

#reset_btn{
    box-shadow: inset -10px 10px 25px #710000;
}

#reset_btn:hover{
    box-shadow: inset -10px 10px 25px #d30000;
}

#submit_btn{
    box-shadow: inset -10px 10px 25px #00095A;
}

#submit_btn:hover{
    box-shadow: inset -10px 10px 25px #3443ce;
}

.form_footer{
    min-height: 50px;

    margin-bottom: 15px;
}

#price_text{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width:991px){
    .form_footer{
        text-align: center;
    }
}

#add_btn_box{
    text-align: right;
}

#add_btn_block{
    background-color: black;
    box-shadow: inset -10px 10px 25px #5A007A;

    border: 2px solid white;

    border-radius: 15px;

    color: white;

    font-weight: bold;

    font-size: 15px;

    height: 40px;
}

#add_btn_block:hover{
    box-shadow: inset -10px 10px 25px #8d00c0;
    cursor: pointer;
}

#add_txt{
    padding: 5px;
    text-align: center;
}


#add_icon{
    font-size: 20px;
}

