.sds{
    display: flex;
    flex-direction: row;

    height: 450px;

    margin-top: 45px;

    justify-content: center;

    padding: 25px;
}

.sds_item{
    margin: 0 30px;
}



.example_box{
    display: flex;
    flex-direction: column;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    width: 100%;
    flex: 1 1 0%;
}


