#back_to_minter_btn{
    text-decoration: none;

    height: 50px;

    font-size: 25px;

    color: rgb(94, 94, 94);

    background-color: rgba(0, 0, 0, 0.342);

    text-align: center;

    position: relative;
}


#back_to_minter_btn:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  
  -webkit-transition: all .3s ease-in-out;
  -moz--transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  height: 1px;
}

#back_to_minter_btn:hover{
  color: whitesmoke;
}

#back_to_minter_btn:hover:after{
  background-color: whitesmoke;
  width: 100%;


  z-index: -1;
}


.btn_holder{
  justify-content: center;

  margin-top: 50px;
}

.text_holder{
  justify-content: center;

  margin-top: 50px;
}

#rebuses_info_txt{
  text-align: center;
  color: wheat;
}

.cards_holder{
  margin-top: 50px;
}

.cards_row{
  justify-content: center;
}

.rebus_body{
  margin: 25px 10px;
}


.rebus_number{


  font-size: 55px;

  font-weight: bolder;
}

.rebus_desc{


  font-size: 15px;

  font-weight: bolder;
}

