#back_to_minter_btn{
    text-decoration: none;

    height: 50px;

    font-size: 25px;

    color: rgb(117, 117, 117);

    background-color: rgba(0, 0, 0, 0);

    text-align: center;

    position: relative;
}


#back_to_minter_btn:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  
  -webkit-transition: all .3s ease-in-out;
  -moz--transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  height: 1px;
}

#back_to_minter_btn:hover{
  color: whitesmoke;
}

#back_to_minter_btn:hover:after{
  background-color: whitesmoke;
  width: 100%;


  z-index: -1;
}

.btn_holder{
  justify-content: center;

  margin-top: 50px;
}

.text_holder{
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}


.info_holder{
  text-align: center;
  color: white;
  font-size: 20px;
}

.cards_holder{
  margin-top: 50px;
  margin-bottom: 100px;
}

.cards_row{
  justify-content: center;
}


.rebus_number{
  font-size: 55px;

  font-weight: bolder;
}

.rebus_desc{
  font-size: 15px;

  font-weight: bolder;
}

.rebus_body{
  margin: 25px 10px;

  background-color: rgba(0, 0, 0, 0.09);

  box-shadow: 0px 0px 5px rgb(0, 0, 0);

  border-radius: 10px;

  
  color: rgb(255, 255, 255);
}

.rebus_body:hover{
  transform: scaleX(1.25) scaleY(1.25);

  z-index: 2;
}

#solving{
  color: rgb(180, 0, 0);
}